<!doctype html>
<html>

<head>
  <title>User Profile - {{user.username}}</title>
          <link rel="stylesheet" href="css/theme.css" />

</head>

<body>
  
    {{> header user}}
  <div class="contactus" id="contactus">
    <h1>User Profile: {{user.username}}</h1>
    <label class="fixedlabel">User Name:</label>{{user.username}}<br/>
    <label class="fixedlabel">First Name:</label>{{user.firstName}}<br/>
    <label class="fixedlabel">Last Name:</label>{{user.lastName}}<br/>
    <label class="fixedlabel">E-mail:</label>{{user.email}}<br/>
    <label class="fixedlabel">Is Administrator:</label>{{user.isAdmin}}<br/>
    <a href="/Profile/Edit">Edit</a>
  </div>
    {{> footer user}}
 
</body> 
</html> 