<!doctype html>
<html>

<head>
  <title>Dashboard</title>
          <link rel="stylesheet" href="/css/styles.css" />

</head>

<body class="about">
    {{> header user}}
    <h1>Report Editor</h1>
    <form  method="POST" action="/report/Edit">
        {{#if report._id}}
            <input type="hidden" name="ID" value="{{report._id}}" />
            <input type="date" name="edit" value="1" />
            <h4>Editing report ID: {{report._id}}</h4>
        {{else}}
            <input type="hidden" name="edit" value="0" />
            <!--label class="fixedlabel">ID</label-->
            <input type="date" name="ID" label="IDDD"/><br><br>
        {{/if}}

        <label class="fixedlabel">X</label>
        <input type="number" name="X" value="{{report.X}}" /><br><br>
        
        <label class="fixedlabel">R</label>
        <input type="number" name="R" value="{{report.R}}" /><br><br>
        
        <label class="fixedlabel">NS</label>
        <input type="number" name="NS" value="{{report.NS}}" /><br><br>
        
        <label class="fixedlabel">C</label>
        <input type="number" name="C" value="{{report.C}}" /><br><br>
        
        <label class="fixedlabel">V</label>
        <input type="number" name="V" value="{{report.V}}" /><br><br>

        <label class="fixedlabel">Cocobread</label>
        <input type="number" name="Cocobread" value="{{report.Cocobread}}" /><br><br>

        <label class="fixedlabel">Cash</label>
        <input type="number" name="Cash" value="{{report.Cash}}" /><br><br>

        <label class="fixedlabel">Debit</label>
        <input type="number" name="Debit" value="{{report.Debit}}" /><br><br>

        <label class="fixedlabel">Tips</label>
        <input type="number" name="Tips" value="{{report.Tips}}" /><br><br>

        <label class="fixedlabel">Drinks</label>
        <input type="text" name="Drinks" value="{{report.Drinks}}" /><br><br>

        <label class="fixedlabel">Extras</label>
        <input type="text" name="Extras" value="{{report.Extras}}" /><br><br>
                                                
        <label class="fixedlabel"></label>
        <button type="submit" name="submit">Submit</button>
    </form>

    {{> footer user}}
</body>
</html>